/* Global */

$section-padding: 100px 0;
$section-padding-medium: 80px 0;
$section-padding-small: 50px 0;

/* Grid */

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1120px,
  xl: 1480px,
  xxl: 1600px
);

/* Color */

$primary: #141b4b;
// $secondary: #ea1c2c;
$secondary: #c10909;
$lavender-gray: #CCCAC6;
$dark-silver: #73716D;
$gray: #EDEDED;
$light-gray: #FAFAFA;
$gray44: #707070;
$gray94: #f0f0f0;
$gray91: #E8E8E8;
$gray97: #f7f7f7;
$gray14: #242424;
$menu: #515150;
$menu-background: rgba(255,255,255,0.65);
$sky: #f8f8f8;
$dark-gray: #3b3b3b;
$white-smoke: #f5f5f5;
$gray88: #e0e0e0;
$charcoal: #454545;
$anthrazit: #1D1F24;
$charleston-green: #282828;
$dark-charcoal: #323232;
$black-feather:#10181C;
$dusky: #0F191E;
$orange-roughy: #D2631C;
$sandal: #563618;
$sushi: #80AF36;
$dark-brown: #5F3E18;
$rubber: #7D573A;
$ghost-white: #fdfdfd;
$mid-night-express: #101234;
$perano: #a8b1ec;
$charcoal: #494949;
$form-border: #cbcbcb;

$border-radius: 3px;

/* Box shadow */
$box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
$box-shadow-small: 0px 3px 6px rgba(0, 0, 0, 0.15);

/* Font */

$font-family: 'Montserrat';
$font-family-playfair: 'Playfair Display';
$font-size-base: 1.25rem;
$font-size-md: $font-size-base * 1.2;
$font-size-lg: $font-size-base * 1.5;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
$line-height-base: 1.5;
$headings-line-height: 1;
$headings-margin-bottom: 0;
$h1-font-size: 70px;
$h2-font-size: 45px;
$h3-font-size: 25px;
$link-hover-decoration: none;

/* Animation (Keyframes) */

@keyframes wave-animation {
  0% {
      transform: rotate(0.0deg);
  }
  10% {
      transform: rotate(14.0deg);
  }
  20% {
      transform: rotate(-8.0deg);
  }
  30% {
      transform: rotate(14.0deg);
  }
  40% {
      transform: rotate(-4.0deg);
  }
  50% {
      transform: rotate(10.0deg);
  }
  60% {
      transform: rotate(0.0deg);
  }
  100% {
      transform: rotate(0.0deg);
  }
}

// Font Face 
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Light.woff2') format('woff2'),
        url('../font/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../font/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Thin.woff2') format('woff2'),
        url('../font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../font/PlayfairDisplay-Black.woff2') format('woff2'),
        url('../font/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../font/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('../font/PlayfairDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../font/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../font/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../font/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('../font/PlayfairDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../font/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('../font/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../font/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../font/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}