@media (min-width: 1450px) {
  .spa-section3-content-left-align {
    text-align: left;
    margin-top: 190px;
    margin-left: 50px;
  }
}
@media (max-width: 1199px) {
  .luxury-img {
    margin-left: 40px;
  }
  .hotel-video-sec-content {
    top: 2rem;
  }
}
@media (max-width: 991px) {
  .hotel-video-sec-content {
    top: 7rem;
  }
  header .header-top .logo {
    flex: 1;
    text-align: initial;
    margin-left: initial;
  }
  h1 {
    font-size: 35px !important;
  }
  h1.title {
    font-size: 70px !important;
    line-height: 60px;
  }
  .inner-banner-content {
    max-width: 100%;
    margin-left: initial;
    text-align: center;
    margin-top: 80px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .inner-banner-img {
    position: absolute;
    top: -45px;
    left: 30%;
    transform: translateX(-50%);
  }
  .single-service-ml {
    margin-left: 0;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  h1.title {
    font-size: 60px !important;
    line-height: 50px;
  }
  .inner-banner-content {
    max-width: 100%;
    margin-left: initial;
    text-align: center;
    margin-top: 100px;
  }
  .inner-banner-img {
    position: absolute;
    top: -45px;
    left: 30%;
    transform: translateX(-50%);
  }
  p {
    font-size: 14px !important;
    line-height: 25px;
  }
  section {
    padding: 50px 0;
  }
  .top-heading h2 {
    font-size: 30px !important;
  }
  header .header-top .container-flex {
    flex-direction: column;
  }
  .bars {
    display: flex;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 0 0 0 5px; */
    cursor: pointer;
  }
  .bars iconify-icon {
    color: #7a2e34;
    font-size: 26px;
  }
  header nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    z-index: 100000;
  }
  header.show-nav nav ul {
    transform: scaleY(1);
  }
  header nav ul li {
    width: 100%;
    text-align: center;
  }
  header nav ul li a {
    color: #7a2e34;
    padding: 20px 0;
  }
  header nav ul li a::before {
    background: #ccc;
    display: none;
  }
  .times {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    position: absolute;
    background: #7a2e34;
    top: 0rem;
    right: 0rem;
    color: #fff;
    font-size: 22px;
    width: 50px;
    height: 50px;
    /* border-radius: 0 0 0 5px; */
    cursor: pointer;
    z-index: 1000;
  }
  .inputs-section .btnn {
    font-size: 11.86px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
  }
  .btnn {
    margin: 0;
  }
  .more-than-meets {
    padding: 100px 0;
    text-align: center;
  }
  .more-than-meets-left h2 {
    margin-bottom: 30px !important;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
  }
  .more-than-meets-left p {
    font-size: 16px;
  }
  .luxury-hotel {
    padding: 120px 0;
  }
  .luxury-hotel-img-abs {
    top: -5rem;
  }
  .luxury-content {
    text-align: center;
    width: initial;
    margin-left: initial;
  }
  .luxury-content {
    margin-bottom: 25px;
  }
  .luxury-img {
    margin-left: initial;
  }
  .luxury-img-abs {
    right: 0.6rem;
    bottom: -3rem;
  }
  .villages-content {
    width: initial;
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
  }
  .discover {
    padding: 50px 0;
  }
  .villages-img-abs2 {
    display: none;
  }
  .footer .footer-top ul {
    flex-direction: column;
    margin-bottom: 20px !important;
  }
  .footer {
    padding: 40px 0;
  }
  .footer .footer-top {
    flex-direction: column;
  }
  .footer .footer-top ul li a {
    padding: 0;
    padding-bottom: 12px;
  }
  .footer .footer-top .social a {
    padding: 0 6px;
  }
  .footer-mid img {
    max-width: 300px;
  }
  .footer-btm span,
  .footer-btm a {
    font-size: 14px !important;
  }
  .unique-experience {
    margin: 0;
  }
  .gallery {
    padding: 40px 0;
  }
  .unique-experience-content {
    max-width: 100%;
    width: 90%;
  }
  .unique-experience {
    padding: 50px 0;
  }
  .inputs-section .btnn {
    margin-top: 0;
  }
  .single-section1-info {
    text-align: center !important;
    margin-bottom: 40px;
  }
  .single-service-container {
    padding: 30px;
  }
  .single-service-ml {
    margin-left: 0px;
    margin-top: 40px;
  }
  .service-flex .icon {
    min-width: 18px;
    height: 18px;
  }
  .service-flex .info {
    margin-left: 10px;
  }
  .single-service-container ul li {
    font-size: 14px;
  }
  .service-flex span.txt {
    font-size: 14px;
  }
  .service-img1 img {
    max-width: 60px;
  }
  .service-img2 img {
    max-width: 120px;
  }
  .single-discover-img {
    display: none;
  }
  .single-section1 .single-section1-info {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
  .category-banner-content {
    text-align: center;
  }
  .category-banner-content p {
    margin-top: 20px;
  }
  .category-section:nth-child(odd) .cat-left {
    order: 1 !important;
  }
  .category-section:nth-child(odd) .cat-right {
    order: 2 !important;
  }
  .cat-content {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  .cat-content h1 {
    font-size: 50px !important;
  }
  .cat-flex .info {
    margin-left: 10px;
  }
  .cat-flex {
    justify-content: center !important;
  }
  .category-section:nth-child(odd) .cat-left .cat-content {
    text-align: center;
    max-width: 100% !important;
  }
  .unique-exp-cat .unique-experience-content {
    top: 50% !important;
    transform: translateY(-50%) translateX(-50%);
  }
  .category-section {
    padding: 50px 0 !important;
  }
  .hotel-section1-content {
    position: relative;
    max-width: 100%;
    margin-left: initial;
    margin-right: initial;
    text-align: center;
    margin-bottom: 30px;
  }
  .hotel-section1-content p {
    max-width: 300px;
    margin-left: initial;
    margin: 20px auto 25px;
  }
  .hotel-sec2-content {
    max-width: 100%;
    text-align: center;
  }
  .hotel-overlap-sec-img {
    position: initial;
  }
  .hotel-section2 {
    padding: 100px 0 250px !important;
  }
  .hotel-overlap-content {
    padding: 0px 0 40px !important;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: initial;
  }
  /* .hotel-overlap-content p {
    font-size: 18px!important;
  } */
  .hotel-overlap-section {
    padding: 40px 0 !important;
  }
  .hotel-overlap-sec-prop {
    display: none;
  }
  .hotel-video-sec-content {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  .hotel-play-abs {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }
  .panorama-content .img img {
    max-width: 80px;
  }
  .panorama-content .img {
    margin: 22px 0;
  }
  .section6 {
    padding: 0px 0 40px;
  }
  .panorama-section {
    padding: 40px 0;
  }
  .restaurant-sec1-content {
    max-width: 100%;
    margin-left: initial;
    margin-top: 30px;
    text-align: center;
  }
  .restaurant-sec1-img-abs {
    display: none;
  }
  .rest-sec3-content-top {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .rest-sec2-img-btm {
    margin-top: -50px;
    margin-left: 0px;
  }
  .rest-sec2-img-btm {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .rest-sec4-pro {
    display: none;
  }
  .rest-sec4-bg {
    padding: 40px 0;
  }
  .lpunge-bar-left .top-heading {
    text-align: center;
    max-width: 100%;
    margin-right: 0px;
  }
  .lounge-left-img {
    left: 0px;
  }
  .lounge-sec2-prop1 {
    display: none;
  }
  .lounge-sec2-prop2 {
    display: none;
  }
  .lounge-section3 {
    padding-bottom: 0;
  }
  .spa-sec1-prop2 {
    display: none;
  }
  .spa-section1-content p {
    font-size: 18px;
    margin: 25px 0;
    position: relative;
    z-index: 10;
  }
  .spa-section3-content {
    max-width: 100%;
  }
  .spa-section3-content-right-align {
    text-align: center;
    margin-right: initial;
  }
  .spa-section3-content-left-align {
    text-align: center;
    margin-top: 15px;
    margin-left: initial;
  }

  .spa-section3-img-left {
    margin-top: 0px;
  }
  .gallery-sec1 {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  header .header-top .logo img {
    max-width: 300px;
  }
  header {
    padding: 40px 0 20px;
  }
  .more-than-meets-left h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .more-than-meets-left p {
    font-size: 20px !important;
  }
  .discover-info {
    padding: 0 10px;
    width: 100%;
    left: 0;
  }
  .discover-info p {
    font-size: 12px !important;
  }
  .discover-info a.btnn {
    font-size: 11px;
    padding: 4px 16px;
  }
  .villages-content h1 {
    font-size: 35px !important;
  }
  .panorama-section-img .panorama-img {
    min-height: 50vh;
    object-fit: cover;
  }
  .rest-sec3-pro {
    display: none;
  }
  .spa-sec2-prop1 {
    display: none;
  }
  .spa-sec2-prop2 {
    display: none;
  }
}
@media (max-width: 390px) {
  .inner-banner-img {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
  .panorama-content .img img {
    max-width: 60px;
  }
  .panorama-content .img {
    margin: 16px 0;
  }
  .panorama-content .top-heading h2 {
    font-size: 22px !important;
  }
  .grid-content-img {
    display: none;
  }
  .grid-content {
    text-align: left !important;
    grid-column: 2 / 2;
  }
  .grid-content h1 {
    font-size: 25px !important;
  }
  .grid-content a.btnn {
    margin-top: 5px;
  }
  .grid-img:nth-child(2) {
    grid-column: 3 / -1;
  }
  .grid-img:nth-child(4) {
    grid-column: 1 / 3;
  }
  .grid-img:nth-child(5) {
    grid-column: 3 / -1;
  }
  .grid-content2 {
    grid-column: 3 / -1;
    grid-row: 5 / 5;
    align-items: center !important;
    margin-top: -50px;
  }
  .grid-content2 .top-heading h2 {
    font-size: 22px !important;
  }
  .hotel-video-sec-content {
    top: 12rem;
  }
  .panorama-content a.btnn {
    font-size: 12px;
  }
  .grid-container {
    gap: 2px 6px;
  }
}
